<configuration>

    # ---------- APPENDER PROCESSES ---------- #

    # Full blown logging appender
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    # Simple logging -- equivalent to System.out.println()
    <appender name="Same_As_Println" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%yellow(%msg%n)</pattern>
        </encoder>
    </appender>

    # Game Status Appender --- just for logging the state of the game
    <appender name="Game_Status" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%msg)</pattern>
        </encoder>
    </appender>

    # File appender
    <appender name="File_Output" class="ch.qos.logback.core.FileAppender">
        <file>arcane.log</file>
        <append>false</append>
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>

    # Warn Appender
    <appender name="Warn_Status" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%orange(%-5level) %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    # ---------- LOGGING CASES ---------- #

    # Default Logging Behavior
    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>

    # Logging Base Case for arcane package - info
    <logger name="csci.ooad.arcane" level="debug" additivity="false">
        <appender-ref ref="Same_As_Println"/>
    </logger>

<!--    # Logging Base Case for arcane package - warn-->
<!--    <logger name="csci.ooad.arcane" level="warn" additivity="false">-->
<!--        <appender-ref ref="Warn_Status"/>-->
<!--    </logger>-->

    # Special Logging Case for Arcane class - info
    <logger name="csci.ooad.arcane.Arcane" level="info" additivity="false">
        <appender-ref ref="Game_Status"/>
        <appender-ref ref="File_Output"/>
    </logger>

</configuration>