<configuration>

    # ---------- APPENDER PROCESSES ---------- #

    # Full blown logging appender

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    # Simple logging -- equivalent to System.out.println()
    <appender name="Same_As_Println" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%yellow(%msg%n)</pattern>
        </encoder>
    </appender>

    <appender name="Trace_Appender" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%white(DEBUG: %msg%n)</pattern>
        </encoder>
    </appender>

    <appender name="Debug_Appender" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%green(DEBUG: %msg%n)</pattern>
        </encoder>
    </appender>

    # Simple logging -- equivalent to System.out.println()
    <appender name="Info_Appender" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%yellow(%msg%n)</pattern>
        </encoder>
    </appender>

    # Warn Appender
    <appender name="Warn_Appender" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%red(WARNING: %msg%n)</pattern>
        </encoder>
    </appender>

    # Game Status Appender --- just for logging the state of the game
    <appender name="Game_Status" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%cyan(%msg)</pattern>
        </encoder>
    </appender>

    # File appender
    <appender name="File_Output" class="ch.qos.logback.core.FileAppender">
        <file>arcane.log</file>
        <append>false</append>
        <encoder>
            <pattern>%msg</pattern>
        </encoder>
    </appender>


    # ---------- LOGGING CASES ---------- #

    # Default Logging Behavior
    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Logging for arcane package -->
    <logger name="csci.ooad.arcane" level="TRACE" additivity="false">
        <appender-ref ref="Trace_Appender"/>
        <appender-ref ref="Debug_Appender"/>
        <appender-ref ref="Info_Appender"/>
        <appender-ref ref="Warn_Appender"/>
    </logger>

    # Special Logging Case for Arcane class - info
    <logger name="csci.ooad.arcane.Arcane" level="INFO" additivity="false">
        <appender-ref ref="Game_Status"/>
        <appender-ref ref="Warn_Appender"/>
        <appender-ref ref="File_Output"/>
    </logger>

</configuration>